#background-video {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.foot-menu li a{
    color: #F6F6F6!important;
}

.foot-menu li a:hover{
    color: #F73F52!important;
}

.alert-danger {
    font-family: Quicksand;
    background-color: #F73F52!important;
    border-radius: 0.25rem!important;
}

.alert-success {
    font-family: Quicksand;
    color: #F6F6F6!important;
    background-color: #00cc44!important;
    border-radius: 0.25rem!important;
}

#login_btn {
    font-family: Quicksand;
}

#button_sp {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background-color: #f73f52!important;
}

#button_sp_null {
    background-color: #f73f52!important;
}

#reg_password3 {
    margin-right: -50px;
}

#reg_success {
    font-family: Quicksand;
    color: #F6F6F6!important;
    background-color: #00cc44!important;
}