#background-video {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.foot-menu li a{
    color: #F6F6F6!important;
}

.foot-menu li a:hover{
    color: #F73F52!important;
}

.alert-danger {
    font-family: Quicksand;
    background-color: #F73F52!important;
}

.alert-success {
    font-family: Quicksand;
    color: #F6F6F6!important;
    background-color: #00cc44!important;
}

#login_btn {
    font-family: Quicksand;
}